<div *ngIf="event">
    <a class="btn btn-secondary btn-sm" [routerLink]="['/events']" role="button"><i class="fas fa-angle-left"></i> Back</a>
    <br>
    <br>
    <h2 class="page-header">{{event.title}} <small>${{event.price}}</small></h2>
    <h4 class="page-header">{{event.shortTitle}}</h4>
    <br>
    <div class="row">
        <div class="col-md-4">
            <img style="width:100%" class="thumbnail" src="{{imageUrl}}">
        </div>
        <div class="col-md-8">
            <ul class="list-group">
                <li class="list-group-item"><strong>Price:</strong> ${{event.price}}</li>
                <li class="list-group-item"><strong>Date:</strong> {{event.date}}</li>
                <li class="list-group-item"><strong>Description:</strong> <br>
                {{event.description}}</li>
                <li class="list-group-item"><strong>Location:</strong> {{event.eventLocation}}</li>
                <li class="list-group-item"><strong>Type:</strong> {{event.type}}</li>
                <br>
                <div><a class="btn btn-secondary btn-lg" style="color:white;" a href="mailto:{{event.email}}">Contact {{event.organization}}</a></div>
            </ul>
        </div>
    </div>
    <br>
    <br>
    <a class="btn btn-outline-primary" [routerLink]="['/edit-event/'+event.$key]">Edit</a>
    <a (click)="onDeleteClick()" class="btn btn-outline-danger">Delete</a>
</div>
