<div *ngIf="gig">
    <a class="btn btn-secondary btn-sm" [routerLink]="['/gigs']" role="button"><i class="fas fa-angle-left"></i> Back</a>
    <br>
    <br>
    <h2 class="page-header">{{gig.title}} <small>${{gig.price}}</small></h2>
    <h4 class="page-header">{{gig.shortTitle}}</h4>
    <br>
    <div class="row">
        <div class="col-md-4">
            <img style="width:100%" class="thumbnail" src="{{imageUrl}}">
        </div>
        <div class="col-md-8">
            <ul class="list-group">
                <li class="list-group-item"><strong>Price per Hour:</strong> ${{gig.price}}</li>
                <li class="list-group-item"><strong>Description:</strong> <br>
                {{gig.description}}</li>
                <li class="list-group-item"><strong>Location:</strong> {{gig.location}}</li>
                <li class="list-group-item"><strong>Type:</strong> {{gig.type}}</li>
                <li class="list-group-item"><strong>Payment Accepted:</strong> {{gig.payment}}</li>
                <br>
                <div><a class="btn btn-secondary btn-lg" style="color:white;" a href="mailto:{{gig.email}}">Contact {{gig.seller}}</a></div>
                <br>
                <div><a class="btn btn-primary btn-sm" style="color:white;" href="https://m.me/{{gig.messenger}}"><i class="fab fa-facebook-messenger"></i> Connect with @{{gig.messenger}} on Facebook Messenger</a></div>
            </ul>
        </div>
    </div>
    <br>
    <br>
    <a class="btn btn-outline-primary" [routerLink]="['/edit-gig/'+gig.$key]">Edit</a>
    <a (click)="onDeleteClick()" class="btn btn-outline-danger">Delete</a>
</div>
