<a class="btn btn-secondary btn-sm" [routerLink]="['/Events-listings']" role="button"><i class="fas fa-angle-left"></i> Back</a>
<br>
<br>
<h2 class="page-header">Add an Event</h2>
<form (submit)="onAddSubmit()">
  <div class="form-group">
    <label>Title</label>
    <input class="form-control" type="text" [(ngModel)]="title" name="title" required>
  </div>
  <div class="form-group">
    <label>Description</label>
      <textarea class="form-control" rows="10" [(ngModel)]="description" name="description" required></textarea>
  </div>
  <div class="form-group">
    <label>Event Type</label>
    <select class="form-control" type="text" [(ngModel)]="type" name="type" required>
      <option value="Private">Private</option>
      <option value="Public">Public</option>
      <option value="Paid">Paid</option>
    </select>
  </div>
  <div class="form-group">
    <label>Host</label>
      <textarea class="form-control" rows="10" [(ngModel)]="description" name="description" required></textarea>
  <div class="form-group">
    <label>Tags</label>
    <select class="form-control" type="text" [(ngModel)]="payment" name="payment" required>
      <option value="Free Food">tags</option>
      <option value="Community Service">tags</option>
      <option value="Informational Event">tags</option>
    </select>
  </div>
  <input type="submit" value="Submit" class="btn btn-success">
</form>
