<div *ngIf="product">
    <a class="btn btn-secondary btn-sm" [routerLink]="['/products']" role="button"><i class="fas fa-angle-left"></i> Back</a>
    <br>
    <br>
    <h2 class="page-header">{{product.title}} <small>${{product.price}}</small></h2>
    <h4 class="page-header">{{product.shortTitle}}</h4>
    <br>
    <div class="row">
        <div class="col-md-4">
            <img style="width:100%" class="thumbnail" src="{{imageUrl}}">
        </div>
        <div class="col-md-8">
            <ul class="list-group">
                <li class="list-group-item"><strong>Price:</strong> ${{product.price}}</li>
                <li class="list-group-item"><strong>Condition:</strong> {{product.condition}}</li>
                <li class="list-group-item"><strong>Description:</strong> <br>
            {{product.description}}</li>
                <li class="list-group-item"><strong>Type:</strong> {{product.listingType}}</li>
                <li class="list-group-item"><strong>Price:</strong> {{product.price}}</li>
                <li class="list-group-item"><strong>Price:</strong> {{product.userLocation}}</li>
                <li class="list-group-item"><strong>Payment Accepted:</strong> {{product.payment}}</li>
                <br>
                <div><a class="btn btn-secondary btn-lg" style="color:white;" href="https://www.paypal.me/{{product.paypal}}/{{product.price}}">Pay Now</a></div>
                <br>
                <div><a class="btn btn-primary btn-sm" style="color:white;" href="https://m.me/{{product.messenger}}"><i class="fab fa-facebook-messenger"></i> Connect with @{{product.messenger}} on Facebook Messenger</a></div>
                
            </ul>
        </div>
    </div>
    <br>
    <br>
    <a class="btn btn-outline-primary" [routerLink]="['/edit-product/'+product.$key]">Edit</a>
    <a (click)="onDeleteClick()" class="btn btn-outline-danger">Delete</a>
</div>
