<html>
    <section class="login-container">
        <h1>Login to Your Account</h1>
        <form autocomplete="off" novalidate [formGroup]="form" (submit)="login()">
            <input type="email" name="user" placeholder="Drexel Email Address" formControlName="email">
            <input type="password" name="pass" placeholder="Password" formControlName="password">
            <input type="submit" name="login" class="login loginmodal-submit" value="Login">
        </form>
    </section>
</html>