<i class="far fa-id-card"></i> <strong>User UID:</strong> {{this.userId}}

<h2>Kevin Wong</h2>
    <div class="row">
        <div class="col-md-4">
            <img style="width:100%" class="thumbnail" src="https://static1.squarespace.com/static/58fb0155d1758eec4bb612b0/t/5a662961f9619a1761ff4a30/1516644709050/Kevin+Wong+Potrait.jpg?format=300w">
        </div>
        <div class="col-md-8">
            <ul class="list-group">
                <li class="list-group-item"><strong>Location:</strong> Philadelphia, PA</li>
                <li class="list-group-item"><strong>PayPal ID:</strong> KevinWong</li>
                <li class="list-group-item"><strong>Facebook Messenger:</strong> @dotKevinWong</li>
            </ul>
            <br>
            <a class="btn btn-outline-primary">Edit</a>
        </div>
    </div>
<br>
<h2>Your Listings: </h2>
<div *ngFor="let product of products" [routerLink]="[product.$key]">
<div ng-repeat="product in products">
    <div class="row" ng-if="$even">
        <div class="col-md-4">
            <div class="card mb-4 box-shadow">
                <img class="card-img-top" alt="Image Not Found" style=" height: 300px; width: 100%; object-fit: contain; display: block;" src="https://firebasestorage.googleapis.com/v0/b/dragonquad-32573.appspot.com/o/productImages%2F{{product.userId}}{{product.image}}?alt=media&token=086927bc-5ef4-4b9b-b9d2-d8c157725f43">
                <div class="card-body">
                    <strong class="title">{{product.title}}</strong>
                    <br>
                    <p class="card-text">{{product.shortTitle}}</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div><i class="fas fa-angle-double-right"></i> {{product.listingType}}</div>
                        <div>
                            <strong class="text">${{product.price}}</strong>     <small     class="text-muted">- {{product.payment}}</small>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-primary" [routerLink]="['/product/'+product.$key]">View</button>
                        </div>
                    <div>
                        <small class="text"><i class="fas fa-location-arrow"></i> {{product.userLocation}}</small>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>