<div *ngFor="let event of events" [routerLink]="[event.$key]" >
<div ng-repeat="event in events">
    <div class="row" ng-if="$even">
        <div class="col-md-4">
            <div class="card mb-4 box-shadow">
                <img class="card-img-top" alt="Image Not Found" style=" height: 300px; width: 100%; object-fit: contain; display: block;" src="https://firebasestorage.googleapis.com/v0/b/dragonquad-32573.appspot.com/o/eventImages%2F{{listing.image}}?alt=media&token=7360f644-f180-4225-9513-ccb5d57188cd">
                <div class="card-body">
                    <strong class="title">{{event.title}}</strong>
                    <p class="card-text">{{event.description}}</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-primary" [routerLink]="['/event/'+event.$key]">View</button>
                        </div>
                        <div>
                            <strong class="text">${{event.price}}</strong>     <small     class="text-muted">- {{event.payment}}</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>