<div *ngFor="let event of events" [routerLink]="[event.$key]" >
<div ng-repeat="event in events">
    <div class="row" ng-if="$even">
        <div class="col-md-4">
            <div class="card mb-4 box-shadow">
                <img class="card-img-top" alt="Image Not Found" style=" height: 300px; width: 100%; object-fit: contain; display: block;" src="https://firebasestorage.googleapis.com/v0/b/dragonquad-32573.appspot.com/o/eventImages%2F{{event.userId}}{{event.image}}?alt=media&token=645643fa-b7f0-4ad9-96a7-28b915d6730d">
                <div class="card-body">
                    <strong class="title">{{event.title}}</strong>
                    <br>
                    <p class="card-text">{{event.shortTitle}}</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div><i class="fas fa-calendar-alt"></i> {{event.date}}</div>
                        <div>
                            <strong class="text">${{event.price}}</strong>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-primary" [routerLink]="['/event/'+event.$key]">View</button>
                        </div>
                    <div>
                        <small class="text"><i class="fas fa-location-arrow"></i> {{event.eventLocation}}</small>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>