<input type="text" (keydown)="search($event)" placeholder="Search events..." class="form-control">

<div *ngIf="events?.length < 1">
<hr>
    <p>No results found :/</p>
</div>

<div *ngFor="let event of events" [routerLink]="[event.$key]">
    <div ng-repeat="event in events">
        <br>
        <br>
        <div class="media">
          <img data-src="holder.js/32x32?theme=thumb&amp;bg=007bff&amp;fg=007bff&amp;size=1" alt="128x128" class="mr-2 rounded" src="https://firebasestorage.googleapis.com/v0/b/dragonquad-32573.appspot.com/o/eventImages%2F{{event.userId}}{{event.image}}?alt=media&token=086927bc-5ef4-4b9b-b9d2-d8c157725f43" data-holder-rendered="true" style="width: 256px; height: '100%';">
          <div class="media-body pb-3 mb-0">
            <div class="d-flex justify-content-between align-items-center w-100">
              <a [routerLink]="['/event/'+event.$key]"><strong class="text">{{event.title}}</strong></a>
              <strong>${{event.price}}</strong>
              </div>
              <div class="d-flex justify-content-between align-items-center w-100">
                  <span>{{event.shortTitle}}</span>
              </div>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <div>
              <small class="text"><i class="fas fa-location-arrow"></i> {{event.eventLocation}}</small>
            <br>
              <small class="text"><i class="fas fa-calendar-alt"></i> {{event.date}}</small>
            </div>
        </div>
    </div>
</div>