<a class="btn btn-secondary btn-sm" [routerLink]="['/events']" role="button"><i class="fas fa-angle-left"></i> Back</a>
<br>
<br>
<h2 class="page-header">Edit Event</h2>
<form (submit)="onEditSubmit()">
  <div class="form-group">
    <label>Title</label>
    <input class="form-control" type="text" [(ngModel)]="title" name="title" required>
  </div>
  <div class="form-group">
    <label>Description</label>
      <textarea class="form-control" rows="10" [(ngModel)]="description" name="description" required></textarea>
  </div>
  <div class="form-group">
    <label>Listing Type</label>
    <select class="form-control" type="text" [(ngModel)]="type" name="type" required>
      <option value="Rent">Rent</option>
      <option value="Sell">Sell</option>
    </select>
  </div>
  <div class="form-group">
    <label>Condition</label>
    <select class="form-control" type="text" [(ngModel)]="condition" name="condition" required>
      <option value="New">New</option>
      <option value="Refurbished">Refurbished</option>
      <option value="Used">Used</option>
      <option value="As Is">As Is</option>
    </select>
  </div>
  <div class="form-group">
    <label>Price</label>
    <input class="form-control" type="number" step="0.01" value='0.00' placeholder='0.00' [(ngModel)]="price" name="price" required>
  </div>
  <div class="form-group">
    <label>Payments Accepted</label>
    <select class="form-control" type="text" [(ngModel)]="payment" name="payment" required>
      <option value="Cash">Cash</option>
      <option value="Cash & Payment App">Cash &amp; Payment App</option>
      <option value="Payment App">Payment App</option>
    </select>
  </div>
  <input type="submit" value="Submit" class="btn btn-success">
</form>
