<!-- <ul class="list-group">
  <li class="list-group-item" *ngFor="let listing of listings">
    <a [routerLink]="['/listing/'+listing.$key]">{{listing.title}}</a>
  </li>
</ul>
-->
<div *ngFor="let listing of listings" [routerLink]="[listing.$key]">
    <div class="row">
        <div class="col-md-4">
            <div class="card mb-4 box-shadow">
                <img class="card-img-top" alt="Image Not Found" style=" height: 300px; width: 100%; object-fit: contain; display: block;" src="https://firebasestorage.googleapis.com/v0/b/dragonquad-32573.appspot.com/o/listingimages%2F{{listing.image}}?alt=media&token=7360f644-f180-4225-9513-ccb5d57188cd">
                <div class="card-body">
                    <strong class="title">{{listing.title}}</strong>
                    <p class="card-text">{{listing.description}}</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-primary" [routerLink]="['/listing/'+listing.$key]">View</button>
                        </div>
                        <div>
                            <strong class="text">${{listing.price}}</strong>     <small     class="text-muted">- {{listing.payment}}</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
            